* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box; 
  scroll-behavior: smooth;
}
body{
  font-family: 'Karla', sans-serif;
  overflow-x: hidden;
  transition: transform 3s ease-in-out;
}
/* Estilo para la barra de desplazamiento en navegadores webkit (Chrome, Safari, etc.) */
::-webkit-scrollbar {
width: 1rem; /* Ancho de la barra */
}
::-webkit-scrollbar-track {
background: #f1f1f1; /* Color de fondo de la barra de desplazamiento */
}
::-webkit-scrollbar-thumb {
background: linear-gradient(transparent,#79A53E );
border-radius:4rem;
}
.supertitulo{
  margin-top:2rem;
  font-size: 220%;
  color:#022D0B;
  text-align: center;
  font-weight: 700;
}
.supertitulo2{
  color:#50891A;
  font-size: xx-large;
  text-align: center;
  font-weight: 700;
  padding-bottom: 1rem;
  width: 80%;
  margin: 0 auto;
}
.superparrafo{
  margin: 0 auto;
  text-align: center;
  font-size: large;
  width: 80%;
  color: #3D3D3D;
  padding-bottom: 1rem;
}
nav{
  display: flex;
  flex-direction: row;
  
  z-index: 2;
}
.logo{
  display: flex;
  margin:1rem;
  justify-content: flex-start;
  z-index: 2;
}
.imglogo{
  width:13rem;
  height:auto;
  z-index:2;
}

header{
  background-color: #fff;
  z-index:2;
  position: relative;
}
.navegacion{
  display:none;
  background-color: #fff;
  position: absolute;
  width: 100%;
  top:9.5rem;
  padding-left:2.2rem;
  animation: aparecerDesdeAr 1s forwards;
  z-index:1;
}
@keyframes emergeLogo {
  0% {
     transform: translateY(-60%);
  }
  100% {  
     transform: translateY(0);
  }
  }

@keyframes aparecerDesdeAr {
  from {
  transform: translateY(-100%); 
  }   
  to {
  transform: translateY(0%);
  }
}

@keyframes scrollAnimation {
  from {
    transform: translateY(-50px); 
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes wspAnimation {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform:scale(1);
    opacity: 1;
  }
}


.menu-toggle {
  height: 1rem;
  position: absolute;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  right:2rem;
  width:2rem;
  z-index:2;
  
}
.menu-toggle:hover {
  color: fff;
}
.menu-toggle i,

.menu-toggle i:after,
.menu-toggle i:before {
  display: block;
  position: absolute;
  height:0.35rem;
  width:2.6rem;
  
  background:#222;
  border-radius: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  
}
.menu-toggle i:after,
.menu-toggle i:before {
  content: '';
}
.menu-toggle i:after {
  top: -32px;
}
.menu-toggle i:before {
  top: -16px;
}
.menu-toggle i {
  top: 32px;
}
.menu-toggle.open i:after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -22px;
}
.menu-toggle.open i:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: -22px;
}

.seccion-contacto{
  color: #3D3D3D;
  background-color:#E5D8C6;
  padding-bottom: 2rem;
}
.contenedor-contacto{
  display: flex;
  flex-direction: column;
}
#contacto{
  color:#50891A;   
  text-align: center; 
}
.formulario{
  padding: 1rem;
  margin: 0.3rem 0.5rem 0.3rem 0.5rem ;
  font-weight: 500;
}

#pf1 , #pf2 , #pf3 , #pf4 , #pf5 , #pf6{
  color: rgb(202, 20, 20);
  display: none;
}
.nombrelabel, .telefonolabel , .correolabel , .asuntolabel , .mensajelabel{
  display: block;
  margin-bottom: 0.4rem;
}

.nombreinput, .telefonoinput, .correoinput, .asuntoinput, .mensajeinput{
  display: inline;
  border-radius:0.2rem ;
  border:none;
  background-color: #fff;
  margin-bottom: 0.4rem;
  padding: 0.3rem;
  outline: none;
  width: 17rem;
  box-shadow:1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.nombreinput:hover, .telefonoinput:hover , .correoinput:hover , .asuntoinput:hover , .mensajeinput:hover { 
outline:1px solid #79A53E ;

}
.mensajeinput{
  width: 17rem;
  height: 10rem;
}
.botonform{
  background-color: #79A53E;
  color:#fff;
  padding:0.8rem;
  border-radius:0.5rem;
  border:none;
  display: block;
  margin-top: 0.4rem;
}
.asterisco{
  color:darkgreen;
}
.rangohorario{  
  padding: 1rem;
  margin: 0.3rem 0.5rem 0.3rem 0.5rem;
  
}
.infoagro{
  margin-top: 2rem;
}
.tituloinfo{
  color:#50891A;
  font-size: larger;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
}
.titulo{
  color:#50891A;
  font-size: x-large;
  margin-top: 2rem;
  margin-bottom:1rem;
  text-align: center;
}
.postitulo{
  font-size:large;
  color:#50891A;
  margin-top: 2rem;
  margin-bottom:1rem;
  text-align: center;
}
.titulo2{
  font-size: smaller;
  
}
.parrafo{
  text-align: justify;
  color: #3D3D3D;
  margin: 2rem;
  
}
.ul{
  display: flex;
  flex-direction: column;
  list-style:none;
}

.ul .li{
  height:2.5rem;
  margin-right:2.5rem;
  color:#555;
}
.ul .li:hover{
  color:#000;
  cursor: pointer;
}

.fono {
  width:1.5rem;
  margin-left: 0.5rem;
}
.fb  {
  width:1.4rem;
}
.email {
  margin-left: 0.6rem;
  position: relative;
  top:0.1rem;
  width:1.65rem;
}

.wsp{
  width:1.7rem;
  position: relative;
  top:0.1rem;
  margin-left: 0.5rem;
}

.fono:hover, .fb:hover ,.email:hover, .wsp:hover{
  transform: scale(1.3);
  transition: transform 0.5s ease;
}
footer{
  background-color: #79A53E;
  color:#fff;
}
.contenedor-footer{
    display: block;
    text-align: center;
}

.logo-footer{
  margin-top: 1rem;
  margin-bottom:-0.5rem;
  width:10rem;
}
.titulo-footer{
  font-size:larger;
  font-weight: 700;
}

.horario{
  padding-top: 1rem;
  margin-bottom: 1rem;
}

.ul-footer{
  display: none; /*en pantallas grandes */
  list-style: none;
  text-align: left;
}
.ul-footer li .a-footer{
  text-decoration: none;
}
.a-footer{
  color:#fff;
  text-decoration: none;
}
.a-footer:hover{
  color:cornflowerblue;
  
}
/* Estilos para los enlaces sin color */
a {
color: inherit;
text-decoration: none;
}

a:hover,
a:active,
a:focus {
color: inherit;
text-decoration: underline;
}
a:disabled {
pointer-events: none;
text-decoration: none;
}
.rrss-footer{
  text-align: center;
}
.fin-footer{
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
}
.pueblos{
  display: none;
}
.mapa{
  height:87vh;
  width: 100%;
  z-index: 1;
}
.inifoot, .histfoot ,.objfoot ,.prodfoot ,.contactofoot ,.bodegafoot {
width: 15px;
position: relative;
top:0.2rem;
}
.redfoot{
width: 12px;
position: relative;
margin-right:0.2rem;
top:0.12rem;
} 
#bodega{
padding: 1rem;
background-color: #fff;
}

.interaccion{
  display: block;
  margin-bottom: 3rem;
}
.p1{
  color: #79A53E;
  font-size: x-large;
  text-align: center;
  font-weight: 700;
  margin-bottom: 1rem;
}
.p2{
  text-align: center;
  color: #000;
  font-size: medium;
}

/*Inicio*/




.Sitios{
color:#50891A;
text-align: center;
}
.logo1{
display: inline;
width:6rem;
margin-top: 2rem;
margin-bottom: 1.5rem;
}
.logo2{
display:inline;
width:6.8rem;
margin-bottom: 1.5rem;
}
.logo3{
display:inline;
width:7.2rem;
margin-bottom: 1.5rem;
}
.logo4{
display: inline;
width:6.6rem;
padding-bottom: 2rem;
}

.entidades-seccion{
padding-top: 2rem;
background-color: #f5f1f1;    
}
.entidades{
display: flex;
justify-content: center;
flex-direction: column;
text-align: center;
background-color: #f5f1f1;
}

.diventidad{
display: flex;
justify-content: center;
}
.gallery{
background:#fff;
padding-top:0.5rem;

padding-bottom:2rem ;
}
.contenedor-galeria{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
flex-wrap: wrap;
gap:0.8rem;
}
.img-galeria{
object-fit: cover; 
width: 18.75rem; 
height: 12.5rem; 
display: block;
margin-bottom: 0.7rem; 
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.titulos-galeria{
font-weight:500;
padding:0.3rem;
color: #3D3D3D;
font-size: medium;
position: relative;
bottom:0.6rem;
right:0.rem;
}


.imgbodega{
  width:25rem;
  margin-bottom: 0;
  padding-bottom: 0;

}
.divbodega, .divimagen{
  display: flex;
  justify-content: center;
}
#historia , #inicio{
  background-color: #fff;
}
#objetivos{
  padding: 1rem;
  background-color: #F5F1F1;
}
#productosyservicios{
  padding: 1rem;
  background-color: #F5F1F1;
}

.slide {
  position: relative;
  margin-top: 0px;
}

.slide-inner {
  position: relative;
  overflow: hidden;
  width:100%;
  margin: 0 auto;
  max-height:500px;

}

.slide-open:checked + .slide-item {
  position: static;
  opacity: 100;
}

.slide-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}

.slide-item img {
  display: block;
  height: auto;
  width: 100%;
  object-fit: cover;

}

.slide-control {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index:1;
}

.slide-control.prev {
  left: 2%;
}

.slide-control.next {
  right: 2%;
}

.slide-control:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}

#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3,
#slide-4:checked ~ .control-4, 
#slide-5:checked ~ .control-5
{
  display: block;
}

.slide-indicador {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1;
}

.slide-indicador li {
  display: inline-block;
  margin: 0 5px;
  position: relative;
}

.slide-circulo {
  color: beige;
  cursor: pointer;
  display: block;
  font-size: 3rem;
  
}

.slide-circulo:hover {
  color: #aaaaaa;
}

#slide-1:checked ~ .control-1 ~ .slide-indicador 
   li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .control-2 ~ .slide-indicador 
    li:nth-child(2) .slide-circulo,
#slide-3:checked ~ .control-3 ~ .slide-indicador 
    li:nth-child(3) .slide-circulo,
#slide-4:checked ~ .control-4 ~ .slide-indicador 
    li:nth-child(4) .slide-circulo,
#slide-5:checked ~ .control-5 ~ .slide-indicador 
    li:nth-child(5) .slide-circulo
{
  color: #428bca;
}

#titulo {
  width: 100%;
  position: absolute;
  padding: 0px;
  margin: 0px auto;
  text-align: center;
  font-size: 27px;
  color: rgba(255, 255, 255, 1);
  font-family: 'Open Sans', sans-serif;
  z-index: 9999;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), 
       -1px 0px 2px rgba(255, 255, 255, 0);
}

#inicio , #historia , #objetivos, #productosyservicios , #contacto, #bodega{ 
  animation: scrollAnimation 5s ease;
}
.imgwsp{
width:6rem;
position: fixed;
top:47rem;
left:70rem;
z-index: 9;
animation: wspAnimation 3s ease;
}

.fixwsp{
  display: flex;
  justify-content: flex-end;
}

@media (min-width:320px) {
#contacto{
  padding: 1.3rem;
  padding-bottom: 0.1rem;
}
.menu-toggle {
  top:1.7rem;
  left:16.5rem;
}
.p1{
  font-size:large;
}
.p2{
  font-size: medium;
}
.rangohorario{ 
  height:7.5rem;
}
.formulario{
  margin-top: 0;
}
.imagenes {
  width:18rem;
}

.imgwsp{
  
  left:18rem;
  width:3.7rem;
  top:49rem;
  animation: wspAnimation 3s ease;
  }
}

@media (min-width:375px){
.imglogo{
  position: relative;
  bottom:1rem;
  right:0.5rem;
}
.menu-toggle {
  top:1.5rem;
  left:19.5rem;
}
.rangohorario{ 
  height:5.5rem;
}
.nombreinput, .telefonoinput, .correoinput, .asuntoinput, .mensajeinput{
  width: 20rem;
}
.logo{
  position: relative;
  left:1rem;
  top:1rem;
}

.imgwsp{
  left:19rem;
  width:3.7rem;
  top:36rem;
  animation: wspAnimation 3s ease;
  }
}

@media (min-width:390px){
.menu-toggle {
  left:21.4rem;
}

.imgwsp{
position:fixed;
left:18rem;
width:3.7rem;
top:47rem;
animation: wspAnimation 3s ease;
}

}
@media (min-width:768px){
.supertitulo{
  font-size: 250%;
}
  .supertitulo2{
    font-size: 220%;
    padding-bottom: 1.4rem;
  }
  
  .superparrafo{
    font-size: large;
    width: 70%;
  }
footer{

  padding-top: 1rem;
}
.pueblos{
  display: block;
}
.contenedor-footer{
 display: flex; 
 flex-direction:row;
 justify-content: space-evenly;

}
#contacto, .titulo{
font-size:xx-large;
}
.postitulo{
font-size:x-large;
color:#50891A;
margin-top: 2rem;
margin-bottom:1rem;
text-align: center;
}
.menu-toggle {
left:44rem;
}
.ul-footer{
  margin-top: 0.5rem;
  padding: 1rem;
  list-style: none;
  display: block;
  
}
.ul-footer li{
  
  text-decoration: none;

}
.horario{
  margin-top: 1rem;
  padding: 1rem;
  
}
.contenedor-contacto{
  display: flex;
  flex-direction: column;
  
}
#contacto{
padding-left:1.5rem;
text-align: center;
}
.interaccion{
  text-align: center;
}
  .formulario{
    margin: 0 auto;
    width:90%;
  }
  .nombreinput, .telefonoinput, .correoinput, .asuntoinput, .mensajeinput{
  width:97%;
  
  }
  .tituloinfo{
    font-size: x-large;
  }
  .img-galeria{
    width:28rem;
    }
    .centro{
    text-align: center;
    font-size:x-large;
    margin-bottom: 1.5rem;
}
.titulos-galeria{
    font-size: larger;
    position: relative;
    right:0.5rem;
}
.entidades{
flex-direction: row;
}

.logo{
  position: relative;
  left:2rem;
  top:1rem;
}

.logo1 , .logo2, .logo4 {
    width:8rem;
margin:1rem;

}
 .logo3 {
    width:10rem;
    position: relative;
    top:0.8rem;
    right:0.6rem;
    
 }
 .logo4{
    margin-left:1rem;
    position: relative;
    top:-0.5rem;
 }
 .logo2{
    position: relative;
    top:-0.5rem;

 }
 .Sitios{
 font-size: x-large;
 padding-top: 1rem;
 padding-bottom: 2rem;
}
.imagenes {
  width:28rem;
}
.imgbodega{
  width:38rem;
}
.parrafo{
  margin: 1.5rem auto;
  width: 70%;
}
.titulo2{
  font-size: larger;
}

.navegacion{
  padding-left:2.5rem;
}

.imgwsp{
  animation: wspAnimation 3s ease;
  left:39rem;
  width:4.8rem;
  top:53rem;
  }
}

@media (min-width:1024px){
#inicio , #historia , #objetivos, #productosyservicios , #contacto, #bodega{
scroll-margin-top:9rem;
}

.imgwsp{
  left:83rem;
  width:4.8rem;
  top:50rem;
  animation: wspAnimation 3s ease;
  }
.slide-inner {
  overflow: hidden;
  width:100%;
  margin: 0 auto;
  min-height:600px;
  height: 700px;
  padding-top:8rem;
}


.slide-item img {
  display: block;
  min-height:600px;
  height: 700px;
  width: 100%;
  clip-path: inset(0 0.1% 0 0.1%); 
  object-position: bottom;
  object-fit: inherit;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


.slide-control {
top:57%;
}
header{
  position: fixed;
  min-width: 100%;
  height:8.8rem;
}
.logo{
  position: relative;
  top:-1rem;
  left:5rem;
}

.imglogo{
  height:8rem;
  width:13rem;
}
nav{
  min-width: 100%;
  height:7.8rem;
}
.ul{
  
  position: relative;
  top:0.5rem;
}
.contenedor-contacto{
  display: flex;
  flex-direction: column; 
}
#contacto{
  text-align: center;
  }
.formulario{
  display: flex;
  justify-content: center;
  align-items: center;
}

.rangohorario{
 text-align: center;
}

.nombrelabel, .telefonolabel {
  margin-right: 0.5rem;
}
.telefonolabel {
  margin-left: 1rem;
}
.nombreinput, .telefonoinput {
    width:13rem;
}
.correolabel, .asuntolabel {
  margin-right: 0.5rem;
}
.asuntolabel {
  margin-left: 1rem;
}
.correoinput, .asuntoinput{
  width:13rem;
}
.asuntoinput{
margin-right: 0rem;
}
.mensajelabel{
margin-top: 1rem;
margin-bottom: 1rem;
}
.mensajeinput{
  width:37rem;
}
.lg{
  display: flex;
  flex-direction: row;
}
.pp{
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  
}
.pp2{
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  margin-left:0.7rem;
}
.pp3{
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  margin-left:0.5rem;
}

.botonform{
  margin: 0 auto;
}
.imglogo{
  position: relative;
  top:0.1rem;
  left:0.1rem;
}
.navmovil{
  display: none;
}
.navegacion{
  animation: none;
  position: relative;
  top:0;
  padding-left: 0;
  display: flex;
  justify-content: center;
  align-items: center; 
}
.ul{
  display: flex;
  flex-direction: row;
  list-style:none;
  justify-content: center;
  position: relative;
  top:1.5rem;
}
.ul .li{
  font-weight: 700;
  color:#444;
  font-size: medium;
}
.ul .li a {
text-decoration: none;
}

.ul .li:hover{
  color:#79A53E;
  cursor: pointer;
  text-decoration: underline;
}

.p1{
  font-size: x-large;
}

.tituloinfo{
  font-size: xx-large;
}
.contenedor-galeria{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
  flex-wrap: nowrap;
  width:50%;  
  margin:0 auto;
  }
  .img-galeria{
    object-fit: cover; 
    max-width: 11.75rem; 
    max-height: 10.5rem; 
    display: block;
    margin-bottom: 1rem; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    }
  
  .Sitios{
font-size: x-large;
}
.entidades{

margin: 0 auto;
 }
 .logo{
  position: relative;
  left:0.2rem;
 }
.logo1 , .logo2, .logo3 {
margin-right:2.2rem;
}
.logo4{
width:7.5rem;
position: relative;
top:-0.5rem;
right:0.5rem;
}
.parrafo{
font-size: large;
width: 50%;
}
.titulo{
font-size: 190%;
}
.postitulo{
font-size: 140%;
}
.p1 {
font-size: x-large;
}
.p2{
font-size: large;
}
.imgbodega{
width: 50rem;
}
.titulo2{
font-size: x-large;
}
.listacontenedor{
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-evenly;
width: 100%;
padding-bottom:2rem;
}
.lista1{
width: 43%;
}
.lista2{
width: 43%;
}
.imagenes {
width:28rem;
}

.img-galeria{
width:16rem;
height:9rem;
}
.listacontenedor{
  width: 60%;
  margin: 0 auto;
}
.supertitulo{
  font-size: 260%;
}
  .supertitulo2{
    font-size: 230%;
    padding-bottom:1.4rem;
  }
  .superparrafo{
    font-size:larger;
    width:50%;
  }


}

@media (min-width:1100px){
  .imgwsp{
    position: fixed;
    left:72.6rem;
    width:3.7rem;
    top:29rem;
    z-index: 10;
    animation: wspAnimation 3s ease;
    }
}

@media (min-width:1280px){
.logo{
 position: relative;
 left:2.5rem;
 
}
.imgwsp{
  animation: wspAnimation 3s ease;
  left:72.6rem;
  width:4rem;
  top:49rem;
  }

}

@media (min-width:1280px) and (min-height:802px){
  .imgwsp{
    animation: wspAnimation 3s ease;
    position: fixed;
    left:72.6rem;
    width:4rem;
    top:43.5rem;
    }
}
@media (min-width:1280px) and (min-height:900px){
  .imgwsp{
    animation: wspAnimation 3s ease;
    position: fixed;
    left:72.6rem;
    width:4rem;
    top:49.5rem;
    }
}
@media (min-width:1440px) and (min-height:900px){
  .imgwsp{
    animation: wspAnimation 3s ease;
    position: fixed;
    left:82rem;
    width:4.8rem;
    top:49rem;
    }
}

@media (min-width:1440px) and (min-height:1080px){
  .imgwsp{
    top:60.5rem;
  }

}
@media (min-width:1600px) and (min-height:992px){
.logo{
position: relative;
left:12rem;
}
.imgwsp{
  animation: wspAnimation 3s ease;
  left:91.6rem;
  width:4.8rem;
  top:55rem;
  }
}
@media (min-width:1920px){
.logo{
  position: relative;
  left:22rem;
}
.imgwsp{
  animation: wspAnimation 3s ease;
  left:111rem;
  width:4.8rem;
  top:60rem;
  }

}

@media (min-width:1920px) and (min-height:950px){
  .imgwsp{
    left:111rem;
    top:52rem;
    }

  }

  @media (min-width:1920px) and (min-height:1080px){
    .imgwsp{
      left:111rem;
      width:5rem;
      top:59rem;
      }
  
    
    }
