body{
 font-family: 'Karla';
 overflow-x: hidden;
}   
input, textarea {
outline: none;
}
.nombre:hover, .telefono:hover, .correo:hover, .asunto:hover, .msj:hover{
border:0.1rem solid hsl(169, 82%, 27%);
}

.nombre:focus, .telefono:focus, .correo:focus, .asunto:focus, .msj:focus{
border:0.1rem solid hsl(169, 82%, 27%);
}
::-webkit-scrollbar {
width: 1rem; /* Ancho de la barra */
}
::-webkit-scrollbar-track {
background: #f1f1f1; /* Color de fondo de la barra de desplazamiento */
}
::-webkit-scrollbar-thumb {
background: linear-gradient(transparent, #3fa85a);
border-radius:3rem;
}
.fondo{ 
   background-color: #E6E6E6;  
} 
header{
    background-color:none;
    z-index: 1;
}
.logo-abajo{
    display: inline;
    margin: 0 auto;
}
.cacho{
z-index: 0;
background-image: url(./images/portada.png);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.logo{
    z-index:10;
    position: relative;
    top:8px;
    margin: 0;
    padding: 0;
    }

.title{
    text-shadow: 
    -1.5px -1.5px 0 #0e5d2f,
    1.5px -1.5px 0 #0e5d2f,
    -1.5px 1.5px 0 #0e5d2f,
    1.5px 1.5px 0 #0e5d2f;
}
footer{
margin: 0 auto;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
background-color: #16A34A;
}
main{
margin: 0 auto;
}
nav{ 
margin: 0 auto; 
padding-bottom: 0;
height:3rem;
}
.contact{
    width:100% ;
    margin: 0 auto;
    background-color:#fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.contenedor{
display: flex;
justify-content:space-evenly;
padding-top: 1rem;
padding-bottom: 2.8rem;
flex-direction: row;
}
.contacto{
position: relative;
left:3rem;
width:40%;
margin-top:1.6rem;

}

.mapa{
width:50%;
margin-top:1.6rem;
height:19.5rem;
position: relative;
left:1rem;
z-index:9;
}
.botonform{
border:none;
background-color: #3E8C6B;
padding:0.5rem 1rem;
border-radius:0.3rem;
margin-top:1rem;
color:#fff;
}
#inicio{
width:100%;
background-color:#fff;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.ul{
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    max-height:3.5rem;
    color: #16A34A;

}

.bodega{
    background-color: #3fa85a;
    color:#fff;
    margin-top: 0.25rem;
}

.medidas{
    width: 80%;
    margin: 0rem auto;
}
.container{
display: flex;
justify-content:space-evenly;
/*align-items: center; contrae el div derecho de Entidad*/ 
padding-top: 1rem;
padding-bottom:1.5rem;
}

.fb img {
    width: 24px; 
    height: auto;
    margin-right: 0.5rem;
}

.fono img {
    width: 24px; 
    height: auto;
    margin-right: 0.5rem;
}

.email img {
    width: 24px; 
    height: auto;
}

.fb:hover, .email:hover, .fono:hover{
transform: translateY(-4px); 
}

.logo1{
margin: 1.5rem auto;
width:30%;
height: auto;
}


.logo2{
margin: 1.5rem auto;
width:30%;
    height: auto;
}

.logo3{
margin: 1.5rem auto;
    width:30%;
    height: auto;
    }

.logo4{
    margin: 1.5rem auto;
        width:50%;
        height: auto;
        }


.pys{
    text-align: center;
    border: 1px solid #A2A9AF;
}
.hamburguesa{
    width:9%;
    display: flex;
    justify-content: flex-end;
    padding-top:0.3rem;
    padding-left:0.3rem;
    display: none;
}

@media (min-width:1800px){
.container{
   margin: 0 auto;
   min-width: 100%;
}
}

.entidades{
width:24%;
display: inline;
margin-left: 0.2rem;
margin-right: 0.3rem;
border:none;
text-align: center;
background-color: #f5f1f1;
border-radius: 0.7rem;
padding-top:0.8rem;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.cliente{
width:73%;
display: inline;

margin-left: 0.2rem;

}

.titulos-galeria{
background-color: rgba(0, 0, 0, 0.5); 
color: #fff;
font-size:medium;
padding-right: 1rem;
padding-left:0.6rem;
padding-bottom:0.5rem;
border-top-right-radius:1rem ;
}

textarea{
width:18.2rem; 
height:11em;
}
.iny:hover, .rs:hover, .hyst:hover, .obje:hover, .pys:hover , .conta:hover , .bod:hover{
text-decoration:underline;
color:#0dc84e;
background-color: #F5F1F1;
}
.pys{
color:#000;
padding-top: 0.2rem;
padding-bottom: 0.1rem;
background-color:#fff;
}
.rs{
    padding-top: 0.4rem;
    padding-bottom: 0.2rem;
    background-color:#fff;
    color:#000;
}
.iny{
margin-left: -0.98rem;
background-color:#fff;
    color:#000;
border-top-left-radius:1rem ;
}
.hyst{
    background-color:#fff;
    color:#000;
}
.conta{
    background-color:#fff;
    color:#000;
}
.obje{
    background-color:#fff;
    color:#000;
}
.bod{
    background-color:#fff;
    color:#000; 
    margin-right:0rem;
    padding-left:0rem;
    padding-right:0rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width:15%;
    border-top-right-radius:1rem ;
}
   .carousel {
       display: flex;
       overflow: hidden;
       width:100%;
       height:100%;
       position: relative;
       transition: transform 0.5s ease-in-out;
   }
   .carousel-inner {
       display: flex;
       animation: carousel-animation 18s infinite;
   }
   
   .carousel-item {
       width: 100%;
       flex-shrink: 0;
       overflow: hidden;
   }

   @keyframes carousel-animation {
       0% {
           transform: translateX(0);
           transition: transform 1.5s ease-in-out;
       }
       16.666% {
           transform: translateX(0);
           transition: transform 1.5s ease-in-out;
       }
       20% {
           transform: translateX(-100%);
           transition: transform 1.5s ease-in-out;
       }
       36.666% {
           transform: translateX(-100%);
           transition: transform 1.5s ease-in-out;
       }
       40% {
           transform: translateX(-200%);
           transition: transform 1.5s ease-in-out;
       }
       56.666% {
           transform: translateX(-200%);
           transition: transform 1.5s ease-in-out;
       }
       60% {
           transform: translateX(-300%);
           transition: transform 1.5s ease-in-out;
       }
       76.666% {
           transform: translateX(-300%);
           transition: transform 1.5s ease-in-out;
       }
       80% { 
           transform: translateX(-400%);
           transition: transform 1.5s ease-in-out;
         }

       95% {
           transform: translateX(-400%);
           transition: transform 1.5s ease-in-out;
       }

       100% {
           transform: translateX(-500%);
           transition: transform 1.5s ease-in-out;
       }
   }
.bienvenida{
padding-top:0.5rem;
padding-bottom:6.5rem;
color:#fff;
background-image: url(./images/24.jpg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.bienvenida p{
background-color: rgba(0, 0, 0, 0.6);
box-shadow: 0 0 6px rgba(0,0,0,2.5);
padding:1rem;
margin: 2.2rem auto;

border-radius: 0.3rem;

}
.gallery{
background:#16A34A;
padding-top:0.5rem;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
padding-bottom:2rem ;
}

.contenedor-galeria{
display: flex;
justify-content:space-around;
flex-wrap: nowrap;
gap:0.8rem;

}
.rrss{
    margin-top:0.7rem;
    display: flex;
    justify-content: center;
}
.img-galeria{
object-fit: cover; 
width: 18.75rem; /* 18.75 rem = 300 px */
height: 12.5rem; /* 12.5 rem = 200 px */
display: block;
margin-bottom: 0.7rem; 
box-shadow: 0 0 6px rgba(0,0,0,.5);
cursor:pointer;
}
.modal {
display: none; /* El modal está oculto por defecto */
position: fixed;
z-index:0;
left: 30%;
top: 20%;
width:50%;
height: auto;
overflow:hidden;

}

.modal-content {
display: block;
position: relative;
top:0px;
margin: auto;
max-width: 100%; /* Tamaño máximo de la imagen */
max-height: 100%; /* Altura máxima de la imagen */
z-index:10;
overflow:hidden;
}

body.modal-open {

background-color: rgba(0, 0, 0, 0.6);
transition: background-color 0.3s ease; 
}

.close {
    position: absolute;
    top:-25px;
    right:-4px;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    font-size:3rem;
    font-weight:700;
    height:29px;
    transition: color 0.3s ease;
    cursor: pointer;
    z-index: 11;
    width: 2rem;
    height: 3.4rem;
    }

.close:hover,
.close:focus {
color: red;
}

@keyframes emergeLogo {
0% {
   transform: translateY(60%);
}
100% {  
   transform: translateY(0);
}
}

.boton{
position: relative;
left:68px;
}

@media(max-width:615px){
.logo{
   width:9.5rem ;
}
.mapa{
   position: relative;
   left:2rem;
   top:1.7rem;
   min-width:80%;
   margin-bottom:2rem;
   
}
#mensaje {
    width:16.5rem;
}
.contacto{
    margin-left: 3rem;
}
.contenedor{
    flex-direction: column;
}
nav{
    position: relative;
    top:0.78rem;
}

.logo{
    position: relative;
    top:0rem;
}
.title{
    position: relative;
    top:-0.3rem;
}
}
@media(min-width:580px){
    .closemovil{
        display: none;
    }
    .cliente{
        height:24rem ;
    }
}

@media (max-width:641px) { 
    
   .movil{
       
       position:relative;
       top:0px;
       left:0%;
       display: flex;
       align-items: center;
       height:1.8rem;
       width:100%;
       padding: 0;
       text-align: center;
       line-height:0.9;
   }
   .contacto{
position: relative;
left:-1.5rem;
width:35%;
margin-top: 1rem;
}
textarea{
width:22.4rem; 
height:10rem;
}
.mapa{
width:42%;
margin-top: 1rem;
height:13.1rem;
}
    .pys{
        height:1.6rem;
        font-size:xx-small;
        min-width:30%;
        display: flex;
        justify-content: center;
        
    }
    .rs{
        min-width:20%;
        font-size:xx-small;
        height:1.6rem;
        
    }
    .bod{
        
        height:1.6rem;
        width:16%;
    }
    .navegar{
        font-size: xx-small;
        position: relative;
        top:0.7rem;
        left:-3rem;
        width:60%;
    }


}

@media (min-width:641px) and (max-width:768px) { 
    .container{
        min-width: 100%;
       }
    .pys{
        min-width:32%;    
    }
    .rs{
        min-width:18%;
    }
    .navegar{
        position: relative;
        top:0.5rem;
        right:4.5rem;
        font-size: x-small;
        width:60%;
    }
   
   
}
@media (min-width:767px) and (max-width:1024px) { 
    
   .movil{
       font-size:x-small;
       margin: 0 4rem;
       height:2.2rem;
       width:95%;
       text-align: center;
       position: relative;
       top:0.6rem;
   }
   .titulos-galeria{
      font-size:small;
   }
   .mapa{
       height:17rem;      
       width:19rem;
   }
   .contenedor-galeria{
    gap:0.6rem;
   }   

   .title{
    position: relative;
    top:-0.2rem;
   }
   .logo{
    position: relative;
    top:0rem;
    width:60%;
    margin: 0 auto;
   }
   .container{
    min-width: 100%;
   }
   .bod{
    width:4rem;
   }
  
}

@media (min-width:800px) and (max-width:900px) { 
    .navegar{
        margin: 0 4.2rem;
        width:50%;  
        }

    .prod, .red{
        line-height:0.6rem;
    }

}
@media (min-width:900px) and (max-width:1000px) { 
    .navegar{
        margin: 0 8rem;       
        width:50%;
        
        }
        .prod, .red{
            line-height:0.6rem;
        }

}
@media (min-width:1000px) and (max-width:1024px) { 
    .navegar{
        margin: 0 12rem;       
        width:50%;       
        }
        .prod, .red{
            line-height:0.6rem;
        }

}

@media (min-width:1024px){
    .hora{
        position: relative;
        left:1.2rem;
        line-height:1.4rem;
    }
    .contlogo{
        width:56%;
        position: relative;
        top:1.5rem;
    }
    
    .rrss{
        position: relative;
        top:0.2rem;
        right:3rem;
    }
    .contenedor-galeria{
            max-width:97%;
    }

    .img-galeria{
        max-width: 97%;
        
    }

.movil{
padding:0.4rem;
position:relative;
display: flex;
flex-direction: row;
height:auto;
width:66%;
text-align: center;
line-height:1;    
margin: 0 auto;
}
.titulos-galeria{
font-size: medium;
}
.contenedor-galeria{
    padding: 0;
    margin: 0 auto;
    gap:0.1rem;
    width:86%;
    
}
.navegar{ 
    font-size: small;
    height:2.5rem;
    left:-6.9rem;
    top:0.1rem;
    position: relative;
    min-width: 130%;
}
.bod{
max-width:16%;
}
.ul{
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    max-height:3.5rem;
    background-color:transparent;
}
.cacho{
width: 66%;
margin: 0 auto;
}

.fp{
    background-color:#E6E6E6;
}


.pys{
    width:20%;
}
.prod{
    width:12.5rem;

}
main, footer{
    width:66%;
    }

    .mapa{
        width:38%;
        height:16rem;
    }
}

@media (min-width:1054px){
.navegar{
    margin: 0 7rem;
}
}
@media (min-width:1150px){
    .navegar{
        margin: 0 11rem;
        width: 66%;
    }
    }

/*Laptop*/
@media (min-width:1280px){
main, footer{
width:66%;
}
.contacto{
    width:24%;
}
.navegar{
    margin: 0 11rem;
}
.pys{
    width:20%;
}
.red{
    min-width:5rem;
}


}
@media (min-width:1440px){

.entidades{
font-size: large;
}
main, footer{
width:66%;
}

.contacto{
    width:24%;
}
.contenedor-galeria{
    padding: 0;
    margin: 0 auto;
    gap:0.1rem;
    width:76%;
}
.navegar{
    margin:0 13rem;
}
.red{
    position: relative;
    top:-0.1rem;
}
.bod{
    max-width:11%;
    }
}
/*Desktop*/
@media (min-width:1600px){
.navegar{ 
min-width:98%;
    }
.cliente{
    min-height: 27rem;
}

.entidades{
font-size: x-large;
}
main, footer{
width:66%;
}

.contacto{
    width:24%;
}
.contenedor-galeria{
    padding: 0;
    margin: 0 auto;
    gap:0.1rem;
    width:69%;
    
}

}

@media (min-width:1220px){
.rrss{
width:43%;
}
main, footer{
width:66%;
}

.contacto{
    width:28%;
}

}

@media (min-width: 1500px) and (max-width: 1700px) {
.navegar{
    margin: 0 18rem;
    max-width:74%;
}
.bod{
    width:13%;
}
}
@media (min-width: 1700px) and (max-width: 1900px) {
    .navegar{
        margin: 0 20rem;
        max-width:74%;
    }
}

@media (min-width: 1901px) and (max-width: 2099px) {

.navegar{
    margin: 0 25rem;
    max-width:71%;
}
}
@media (min-width:2100px) and (max-width: 2299px) {
    .navegar {
       margin: 0 30rem;
       width:50%;
    }
    .bod{
        min-width:4.7rem;
    }
}
@media (min-width:2300px) and (max-width: 2599px) {
.navegar {
   margin: 0 36rem;
   width:50%;
}
}
@media(min-width:2600px){
.navegar{
margin:0 40rem;
font-size: larger;
width:70%;
}
.bod{
    max-width:9%;
}
.pys{
    width:15%;
    line-height: 1rem;
}
}

@media(min-width:2900px){
    .pys{
        width:15%;
        line-height: 1rem;
    }
    .navegar{
        width:65%;
        margin: 0 45rem;
    }
    .bod{
        max-width:11%;
    }
}
@media(min-width:3000px){
    .navegar{
        width:65%;
        margin: 0 50rem;
}
}
@media(min-width:3100px){
    .navegar{
        width:65%;
        margin: 0 54rem;
}
}

@media(min-width:200px) and (max-width:579px) {
    .hamburguesa{
        display: block;
    }

    @keyframes aparecerDesdeIzq {
        from {
        transform: translateX(-100%); 
        }   
        to {
        transform: translateX(0);
        }
    }
    #navmovil{
        display: none;
        animation: aparecerDesdeIzq 0.3s forwards;
    }
    .modal{
        position: fixed;
        width:24.2rem;
        margin-left:-7.2rem;
    }
    .closemovil{
        display: none;
        position: absolute;
        left:0.2rem;
        top:0.2rem;
        width:6.5%;
        z-index: 999;
        animation: aparecerDesdeIzq 0.4s forwards;
    }
    .navegar{
        background-color: #fff;
        width:80%;
        height:36rem;
        position: absolute;
        top:-9.3rem;
        left:-8rem;
        border:1px solid #000;
        z-index: 99;
    }    
    .ul{
        display: flex;
        flex-direction: column;
        padding-bottom:8rem;
        z-index: 99;
        overflow-x: hidden;
        scrollbar-width: none;
        min-height: 100%;
    }

    .iny, .hyst, .obje, .pys, .conta, .rs, .bod{
        background-color:beige!important ;
        color:#0e5d2f;
        border: none;
        border-radius: 0;
        min-height:4rem;
       display: block;
        border:2px solid gray;
        width: 100%;
        text-align: center;
        position: relative;
        left:3.5rem;
        position: relative;
        top:8.76rem;
        font-size:medium;
    }

    .in, .red, .ob, .hi, .co, .warehouse{
        position: relative;
        top:0.5rem;
    }
    .prod{
        max-width:36% ;
        margin-left:6rem;
        margin: 0 auto;
        position: relative;
        top:0.4rem;
    }
    .logo{
        position: relative;
        top:-1.5rem;
    }
    .title{
        position: relative;
        top:-1.3rem;
    }
}


@keyframes mostrarGaleria {
from {
opacity: 0;
scale: 25%;
}

to {
opacity: 1;
scale: 100%;
}
}

.fotos-move {
view-timeline-name: --foto;
animation-timeline: --foto;
view-timeline-axis: block;
animation-name: mostrarGaleria;
animation-range: entry 0% cover 20%;
animation-fill-mode: both;
animation-direction:forwards;
}


@keyframes mostrarBienvenida {
from {
opacity: 0;
scale: 5%;
}

to {
opacity: 1;
scale: 100%;
}
}

.bienvenida-move {
view-timeline-name: --foto;
animation-timeline: --foto;
view-timeline-axis: block;
animation-name: mostrarBienvenida;
animation-range: entry 0% cover 50%;
animation-fill-mode: both;
animation-direction:forwards;
}

